<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Create New User</title>
</head>
<body>
<main>
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <h1>Register Here</h1>
    <form th:action="@{/create}" method="POST">
        User Name: <input type="text" name="username"/>
        Password:   <input type="password" name="password"/>
        <input type="submit" value="Create Profile"/>
    </form>
</main>
</body>
</html>


