<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Create New User</title>
</head>
<body>
<main>
    <div th:if="${param.error}">
        <p>Invalid username and password.</p>
    </div>
    <div th:if="${param.logout}">
        <p>You have been logged out.</p>
    </div>
    <div id="container">
        <h2>Register New Account</h2>
        <form th:action="@{/create}" method="POST">
            <div>Username: <input type="text" name="username" required/></div>
            <div>Password: <input type="password" name="password" required/></div>
            <br>
            <div>First Name: <input type="text" name="firstName" required/></div>
            <br>
            <div>Last Name (optional): <input type="text" name="lastName"/></div>
            <div>Date of Birth (optional): <input type="text" name="dateOfBirth"/></div>
            <div>Bio (optional): <input type="text"  name="bio"></div>
            <br>
            <input type="submit" value="Create Profile"/>
        </form>
    </div>
</main>
</body>
</html>


