<!DOCTYPE html>
<html lang="en" xmlns:th="">
<link type="text/css" rel="stylesheet" href="/style.css">
<head>
    <meta charset="UTF-8">
    <title>My Friends</title>
</head>
<body>
<header th:insert="fragments/header.html :: header"></header>
<main id="accountsMain">
    <br>
    <h1>Hey [[${username}]], here are your friends:</h1>
    <br>
    <ul class="userList" th:each="user : ${usersFriended}">

        <!--Go To User Profile-->
        <form class="toUserProfileFromAccounts" th:action="'/users/' + ${user.id}" method="GET">
            <button>View Profile</button>
        </form>

        <!--Show User Posts-->
        <p>Posts by [[${user.username}]]:</p>
        <li th:each="post : ${user.myPosts}">
            <p class="eachPost" th:text="${post.content}"></p>
            <span class="eachPost">Post Created: </span>
            <span class="eachPost" th:text="${post.timeCreated}"></span>
        </li>
    </ul>
</main>
</body>
</html>