<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login</title>
</head>
<body>
<main>
    <div th:if="${param.error}">
        <p>Invalid username and password.</p>
    </div>
    <div th:if="${param.logout}">
        <p>You have been logged out.</p>
    </div>
    <div>
        <h1 >Login Here</h1>
        <form th:action="@{/login}" method="POST">
            <div>Username: <input type="text" name="username"/></div>
            <div>Password: <input type="password" name="password"/></div>
            <input type="submit" value="Sign In"/>
        </form>
        <div><a href="/create">Register</a></div>
    </div>
</main>
</body>
</html>


