<!DOCTYPE html>
<html lang="en" xmlns:th="">
<link type="text/css" rel="stylesheet" href="/style.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Post</title>
</head>
<body>
<header th:insert="fragments/header.html :: header"></header>
<main  id="newPostMain">
    <form id="newPostForm" action="/newpost" method="POST">
        <span>Author: </span><input id="newPostTo" type="text" name="username">
        <span>Message: </span><textarea id="newPostText" name="content"></textarea>
        <input id="submitNewPost" type="submit" value="Show The World">
    </form>
</main>
</body>
</html>