<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link type="text/css" rel="stylesheet" href="/style.css">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<header th:insert="fragments/header.html :: header"></header>
<main id="element">
    <h4>Welcome to [[${userISeeUsername}]]'s profile page, [[${myUsername}]].</h4>
    <ul>
        <li>[[${userISeeGovName}]]</li>
        <br>
        <li>Birthday: [[${userISeeDOB}]]</li>
        <br>
        <li>Bio: [[${userISeeBio}]]</li>
    </ul>
    <h4>[[${userISeeUsername}]]'s Posts:</h4>
    <ul id="thisUserPosted" th:each="post : ${postsByUserISee}">
        <li>
            <p class="eachPost" th:text="${post.content}"></p>
            <span class="eachPost">Post Created: </span>
            <span class="eachPost" th:text="${post.timeCreated}"></span>
        </li>
    </ul>
    <!--Add friend-->
    <form action="/follow" method="POST">
        <input type="hidden" name="id" th:value="${id}">
        <input class="viewProfileButton" type="submit" value="Add Friend">
    </form>
</main>
</body>
</html>